<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Displaying all the Products</h1>

    <% for(let item of products){ %>
        <h2> <%= item.name %> </h2>
        <img src="<%=item.img%>" alt="" style="width: 25vw; height: 40vh;">
        <h3> <%=item.price%> </h3>
        <p> <%=item.desc%> </p>
        <a href="/products/<%=item._id%>"> Show This </a>
        <a href="/products/<%=item._id%>/edit"> Edit This </a>
        <form action="/products/<%=item._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    <% } %>


</body>
</html>